body {
  background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
}

nav {
  padding-top: 2.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav img {
  margin-left: 3em;
  margin-top: 8px;
}

.line {
  margin: auto;
}

hr {
  width: 30%;
  position: absolute;
  margin-left: -8em;
  margin-top: -0.4em;
  border: 1px solid #8a97a8;
}

span {
  color: #d7e5ef;
}

.nav-links {
  background-color: #404f66;
  width: 60%;
  height: 4em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.nav-links a {
  text-decoration: none;
  color: #8a97a8;
  padding: 1.5em;
}

.nav-links a:nth-of-type(2) {
  border-bottom: 2px solid #fefefe;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  float: left;
  width: 60%;
  height: 34em;
}

.left span {
  color: #8a97a8;
}

.left h2 {
  color: #d7e5ef;
  margin-top: 2em;
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mars-img img {
  width: 23em;
  height: 23em;
  margin-top: 2em;
  margin-left: 14em;
}

.right {
  float: right;
  margin-top: 5em;
  width: 40%;
  height: 26em;
}

.main-links a {
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #8a97a8;
}

.right a:last-child {
  border-bottom: 2px solid #fefefe;
}

.right h4 {
  text-transform: uppercase;
  font-size: 5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #d7e5ef;
}

.right p {
  color: #8a97a8;
  font-size: 18px;
  width: 70%;
}

.liner {
  padding-top: 2em;
  padding-bottom: 2em;
  /* margin: auto; */
  width: 62%;
}

.right hr {
  width: 31%;
  margin: auto;
  border: 0.5px solid #8a97a8;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 81%;
  text-transform: uppercase;
  color: #8a97a8;
}

.digits span {
  font-size: 1.8em;
}

@media screen and (max-width: 1020px) {
  body {
    background-image: url(/starter-code/assets/destination/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -2.5em;
  }

  .line hr {
    display: none;
  }

  .nav-links {
    background-color: #131522 !important;
    width: 78% !important;
  }

  .nav-links span {
    display: none;
  }

  .nav-links a {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }

  .nav-links a:nth-of-type(2) {
    border-bottom: 2px solid #fefefe;
  }
}

@media screen and (max-width: 1020px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100% !important;
    text-align: center;
  }

  .mars-img {
    display: flex;
    justify-content: center;
  }

  .mars-img img {
    width: 35% !important;
    height: 35% !important;
    margin-left: 0 !important;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: -5em;
  }

  .main-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1em;
    width: 94%;
    font-size: 20px;
  }

  .right h4 {
    text-align: center;
    font-size: 8em;
  }

  .right p {
    font-size: 30px;
    width: 100%;
  }

  .liner hr {
    width: 100%;
  }

  .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
  }
}

.side-bar {
  margin-top: -4em;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #8a97a8;
  text-align: center;
  align-items: center;
}

.closeMenu {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.mainMenu li {
  list-style-type: none;
}

.mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bcc3c7;
  font-size: 1.2rem;
}

.mainMenu li a:hover {
  background: rgb(186, 148, 221);
}

.openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

.hamburger {
  display: none;
  margin-right: 12px;
  margin-top: 7px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-links {
    display: none;
  }

  .mainMenu {
    height: 100%;
    position: fixed;
    top: -1em;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #304356;
    transition: top 1s ease;
  }

  .mainMenu {
    height: 100%;
    position: fixed;
    top: -1em;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #304356;
    transition: top 1s ease;
  }

  .hamburger {
    display: flex;
    width: 2em;
    height: 2em;
    margin-right: 5em;
  }

  .section {
    font-size: 20px;
  }
}
